<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$ - Caden Haustein</title>
    <link rel="stylesheet" href="/styles/hakyll.css" />
    $if(author)$
    <meta name="author" content="$author$">
    $endif$
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">Caden Haustein</a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
        </nav>
    </header>

    <main role="main">
        <h1>$title$</h1>
        $body$
        $if(doBooks)$
        $for(books)$
        <details id=$tag$ class="book-details">
            <summary><em>$title$</em> by $author$ ($year$)</summary>
            <a href="books/$tag$/">Read online</a><br />
            <a href="books/$tag$.pdf">Download PDF</a><br />
            <a href="books/$tag$.epub">Download ePub</a><br />
            <a href="books/$tag$.mobi">Download mobi</a><br />
            $if(source)$<a href="$source$">View original source</a><br />$endif$
        </details>
        $endfor$
        $endif$
    </main>
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
        kofiWidgetOverlay.draw('cadenhaustein', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Support me',
            'floating-chat.donateButton.background-color': '#ffffff',
            'floating-chat.donateButton.text-color': '#323842'
        });
    </script>
    $if(doBooks)$
    <script>
        var url = new URL(window.location.href);
        if (url.hash !== "") {
            document.getElementById(url.hash.slice(1)).open = true;
        }
        [].forEach.call(document.getElementsByClassName("book-details"), function(book) {
            book.addEventListener("toggle", _ => {
                if (book.open) {
                    var url = new URL(window.location.href);
                    url.hash = book.id;
                    window.location.href = url.toString();
                }
            });
        });
    </script>
    $endif$
</body>

</html>