<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$title$ - Caden Haustein</title>
    <link rel="stylesheet" href="/css/default.css" />
    $if(author)$
    <meta name="author" content="$author$">$endif$
</head>

<body>
    <header>
        <div class="logo">
            <a href="/">Caden Haustein</a>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <a href="/books/">Library</a>
        </nav>
    </header>

    <main role="main">
        <h1>$title$</h1>
        $body$
    </main>
</body>

</html>