/* montserrat-regular - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/montserrat-v21-latin-ext_latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../fonts/montserrat-v21-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../fonts/montserrat-v21-latin-ext_latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../fonts/montserrat-v21-latin-ext_latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../../fonts/montserrat-v21-latin-ext_latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../fonts/montserrat-v21-latin-ext_latin-regular.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

/* montserrat-italic - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../../fonts/montserrat-v21-latin-ext_latin-italic.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../../fonts/montserrat-v21-latin-ext_latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../../fonts/montserrat-v21-latin-ext_latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../../fonts/montserrat-v21-latin-ext_latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../../fonts/montserrat-v21-latin-ext_latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../../fonts/montserrat-v21-latin-ext_latin-italic.svg#Montserrat') format('svg');
    /* Legacy iOS */
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 112.5%;
    text-align: left
}

p {
    line-height: 1.5;
    margin: 0 0 1.5em
}

blockquote {
    font-style: italic;
    padding: 1em;
    margin: 1em auto 1em 1em;
    max-width: 45em;
}

code,
nav {
    font-size: 80%
}

code,
pre {
    background-color: #f0f0f0;
    font-family: "Linux Libertine Mono", monospace
}

pre {
    margin: 1em;
    padding-top: 0;
    white-space: pre-wrap;
    word-wrap: break-word
}

h1,
h2,
h3,
h4,
h5 {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    adobe-hyphenate: none;
    hyphens: none;
    -epub-hyphens: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Georgia", serif;
    font-variant: small-caps;
    text-align: left
}

h1.part,
h1.title,
h2.part {
    font-size: 250%;
    text-align: center
}

h1.title,
h2.part {
    font-size: 175%
}

span.chapter-header {
    font-size: 75%
}

h1.title {
    font-size: 300%
}

h2.author {
    text-align: right
}

h2.author,
h2.subtitle {
    font-size: 200%
}

#toc ol,
#toc ul {
    margin-left: 1em;
    padding: 0
}

#nav li,
#toc li {
    list-style-type: none
}

#toc li {
    margin: 0;
    padding: 0
}

.image {
    margin: auto;
    width: 80%
}

.rule {
    break-after: avoid;
    break-inside: avoid;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1em;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center !important
}

.note-number {
    font-weight: 700;
    margin-right: 1em
}

td.note-number {
    vertical-align: top
}

.sidenote {
    border: 1px solid #000;
    display: block;
    float: right;
    margin: 1em -1.5em 1em 1em;
    padding: .5em;
    width: 30%
}

.sidenote .note-number {
    float: left
}

div.notes {
    border-top: thin dashed #000;
    margin-top: 1em;
    text-align: left
}

.table table,
table.notes {
    border-collapse: collapse;
    border-style: hidden
}

table.notes tr td {
    margin-left: 1em;
    margin-right: 1em
}

.table {
    margin: 1em
}

.table table {
    border-color: #000;
    border-style: solid;
    border-width: thin;
    margin: 0 auto;
    width: 80%
}

.table table td,
.table table th {
    border-style: solid;
    border-width: 1px;
    text-align: center
}

.table table th {
    font-variant: small-caps;
    font-weight: 700
}

p.first-para:first-letter,
span.initial {
    float: left;
    font-size: 285%;
    font-weight: 700;
    line-height: .8em;
    margin-right: .05em
}

.nnbsp {
    margin: 0;
    padding: 0;
    word-spacing: -.13em
}

p.first-para:first-letter {
    font-size: 300%;
    line-height: 1em
}

nav {
    border-right-style: dashed;
    border-right-width: 2px;
    bottom: 0;
    left: 0;
    margin-left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 20%;
    z-index: 2;
    background: #cbbfcc;
    border-right-color: #000;
    color: #000
}

#nav code {
    background-color: transparent
}

#menu,
#nav {
    transition: left 1s
}

#nav {
    left: -21%;
    text-align: left
}

#nav h2,
h2.subtitle {
    text-align: center
}

#nav li {
    text-indent: -1em
}

#nav ul {
    padding-left: 1.5em;
    padding-right: 1em
}

#menu {
    left: 1em;
    position: fixed;
    top: 0;
    z-index: 2
}

#menu img {
    opacity: .5
}

#menu img:hover {
    cursor: pointer;
    opacity: 1
}

#book-button,
#menu-button {
    height: 1.5em;
    padding: .5em
}

#book-button {
    float: left
}

#content {
    margin: 0;
    overflow-y: auto;
    text-align: center;
    transition: margin-left 1s
}

.prev_chapter {
    font-size: 120%;
    margin-bottom: 1em;
    text-align: left
}

#top p,
.next_chapter,
.prev_chapter {
    font-variant: small-caps;
    font-weight: 700
}

.next_chapter {
    font-size: 120%;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: right
}

.image,
li,
p {
    margin-right: auto;
    max-width: 45em
}

#page {
    display: inline-block;
    max-width: 45em;
    text-align: left
}

#nav-container {
    top: 0;
    width: 100%
}

#nav-title {
    top: 0
}

#toolbar {
    float: left;
    top: 0
}

#toolbar img {
    cursor: pointer
}

#top,
footer {
    margin-bottom: 0;
    margin-top: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: .25em;
    padding-top: .25em;
    text-align: center;
    transition: margin-left 1s
}

#top {
    margin-bottom: 1em;
    margin-top: 0
}

#top p {
    font-family: "Linux Biolinum"
}

#top p,
footer p {
    margin: .5em auto;
    max-width: 45em;
    text-indent: 0
}

#nav li:before,
#toc li:before {
    content: none
}

#cover img,
.image img {
    max-height: 100%;
    width: 100%
}

#nav a:link,
#nav a:visited,
#top a,
footer a {
    text-decoration: none
}

#top a,
footer a {
    color: #fc71ff
}

#top a:hover,
footer a:hover {
    color: #b743fe
}

#nav a:link,
#nav a:visited {
    color: #000
}

#top,
footer {
    background-color: #444343;
    color: #fff
}

blockquote p {
    margin-top: 0;
    margin-bottom: 0;
}